@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
}
p {
    margin-bottom: 0;
}
.container-fluid {
    padding: 0;
    width: 100%;
}

.col-3 {
    padding: 0;
}
// Header

.header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    justify-items: first baseline;
}
.user {
    gap: 15px;
}
.navbar-brand {
    padding: 0;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    text-align: center;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 48px;
}

.item-header {
    color: black;
    text-decoration: none;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
    padding: 5px;

    &:hover {
        color: black;
        text-decoration: none;
    }
}

.btn-action {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background: white;
    border-color: white;
    border: none;
    box-shadow: none;
    margin: 0 10px;
}

.button {
    display: flex;
    padding: 8px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: black;
    color: white;
    height: fit-content;
    font-weight: 600;
}

//Conten

.content {
    background: #f8f3d1;
    width: 100%;
    height: 100%;
}
.content-img-2 {
    position: absolute;
    left: 1200px;
    z-index: 0;
    object-fit: cover;
}
.content-img-1 {
    position: absolute;
    left: 700px;
    z-index: 0;
    object-fit: cover;
}

.btn-quiz {
    color: #eaf586;
    padding: 12px 40px;
}
.content-intro {
    position: relative;
    width: 100%;
    height: 587px;
    background: #f8f3d1;
    div {
        position: absolute;
        width: 626px;
        height: 100%;
        z-index: 1;
        top: 141px;
        left: 180px;
        span {
            position: relative;
            display: grid;
            justify-content: center;
            align-content: center;
            font-size: 3.8rem;
            font-weight: 700;
        }
        .btn-quiz {
            position: absolute;
            left: 0;
            top: 260px;
            margin-top: 48px;
        }
    }
}

.content-detail {
    height: 200px;
    padding-top: 48px;
    margin: 0;
}
.content-item {
    display: flex;
    justify-content: center;
    gap: 18px;
    span {
        padding-top: 8px;
    }
}

.content-text-item {
    width: 350px;
    h6 {
        font-size: 1.3rem;
    }
    p {
        color: rgba(26, 26, 26, 0.6);
        line-height: normal;
        letter-spacing: 0.16px;
        font-weight: 500;
    }
}

//Sell-content

.content-sell {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: linear-gradient(to bottom, #eeeef6, #f9f9f0);
    width: 100%;
}

.separate {
    height: 1px;
    width: 1100px;
    background-color: black;
}
.slider {
    margin: auto;
    display: flex;
    justify-content: center;
}
.card-start {
    position: relative;
    height: 496px;
    width: 330px;
    img {
        border-radius: 16px;
    }
    p {
        position: absolute;
        text-align: start;
        font-size: 2.6rem;
        color: white;
        padding-left: 20px;
        z-index: 0;
        top: 20px;
    }
}

.card-sell {
    position: relative;
    height: 496px;
    width: 330px;
    border-radius: 16px;
    background: white;
    span {
        position: absolute;
        left: 0;
        padding: 30px;
    }
    .button-light {
        box-shadow: 10px 10px 0px 0px #1a1a1a;
        &:hover {
            box-shadow: 5px 5px 0px 0px #1a1a1a;
        }
        &:active {
            background-color: rgba($color: #ecf87c, $alpha: 0.8);
        }
    }
    img {
        position: relative;
        top: 150px;
        object-fit: cover;
    }
}

.text-card {
    text-align: start;
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
    color: black;
}

.text-card-des {
    text-align: start;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    line-height: 1.6rem;
}

.button-light {
    font-weight: 500;
    background-color: #eaf586;
    display: flex;
    width: 226px;
    padding: 8px 38px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1.5px solid #1a1a1a;
    box-shadow: 10px 10px 0px 0px #fbfbf9;

    &:hover {
        box-shadow: 5px 5px 0px 0px #fbfbf9;
        transform: translateY(-5px);
    }

    &:active {
        background-color: rgba($color: #eaf586, $alpha: 0.8);
    }
}

.button-sell {
    position: absolute;
    z-index: 0;
    bottom: 38px;
    left: 38px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transition: transform 0.7s ease;
    transform: translateX(0);
}

// rating

.rating {
    background-color: #f9f9f0;
    width: 100%;
    height: 100%;
    padding-bottom: 240px;
    span {
        padding-right: 25px;
    }
}

.card-md {
    display: flex;
    align-items: center;
    width: 350px;
    height: 150px;
    padding: 12px 22px;
    font-size: 1rem;
    background-color: white;
    border-radius: 16px;
    box-shadow: 5px 4px 100px 5px rgba(0, 0, 0, 0.05);
}

.content-mid {
    padding-top: 240px;
    padding-bottom: 200px;
}

.card-ava {
    display: flex;
    position: relative;
    z-index: 1;
    width: 450px;
    height: 100%;
    padding: 32px;
    border-radius: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.ava-card-top {
    position: absolute;
    z-index: 0;
    right: 20px;
    top: -60%;
}

.ava-card-bottom {
    position: absolute;
    z-index: 0;
    right: 50px;
    top: 70%;
}

.card-text-ava {
    color: rgba(0, 0, 0, 0.7);
}

.card-sign-ava {
    font-weight: 600;
    font-size: 0.8rem;
}

//paticipate
.paticipate {
    position: relative;
    width: 100%;
    height: 750px;
    background: #f9f9f0;
    padding-bottom: 200px;
}

.image-join {
    height: 100%;
    margin: 0 60px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
    }
}

.join-div {
    position: absolute;
    top: 80px;
    left: 120px;
    .button-light {
        width: fit-content;
        height: fit-content;
        margin-top: 24px;
        box-shadow: 10px 10px 0px 0px white;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 0;
    }
}
// quotes

.quotes {
    width: 100%;
    height: 100%;
    align-items: center;
    // background: #f9f9f0;
    background-image: linear-gradient(to bottom, #f9f9f0, #ededf4);
    padding-bottom: 100px;
}

//article

.article {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background: #ededf4;
    // background-image: linear-gradient(to bottom, #ededf4, #fbfbf9);
    padding-bottom: 100px;
}

.card-article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 496px;
    width: 420px;
    color: black;
    img {
        position: absolute;
        width: 424px;
        height: 448px;
        object-fit: cover;
        object-position: 5% 100%;
        z-index: 0;
        border-radius: 16px;
        &:hover {
            opacity: 0.7;
        }
    }
}

.article-text {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 10px 18px;
}

//help

.help {
    width: 100%;
    height: 100%;
    background: #ededf4;
    padding-top: 100px;
}

.question {
    width: 1200px;
    height: 100%;
    margin: auto;
    padding: 120px 60px;
}

.collapsible {
    width: 100%;
    text-align: left;
    padding: 22px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #ededf4;
    color: black;
    cursor: pointer;
}

.separate-ask {
    border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
    div {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #ededf4;
    }
}

//footer
.footer {
    height: 800px;
    width: 100%;
}
.img-footer-1 {
    width: 100%;
    height: 800px;
    opacity: 0.3;
    z-index: 0;
    object-fit: cover;
}
.img-footer-2 {
    width: 100%;
    height: 800px;
    right: 0;
    object-fit: cover;
}
.contact-info {
    position: relative;
    width: 100%;
    .text-info-footer {
        position: absolute;
        margin: auto;
        top: 120px;
        left: 0px;
        right: 0px;
    }
    .social {
        position: absolute;
        z-index: 2;
        top: 250px;
        left: 0px;
        right: 0px;
    }
    .copy-right {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 700px;
    }
}

.internet-social {
    margin: 25px 0px;
    height: 100px;
}
.brand {
    padding: 10px 20px;
    .fa-brands {
        margin-top: 30px;
    }
}

// BLOG ---------------
.cover {
    padding-top: 20px;
    background-color: #f9f4ec;
    height: 100%;
    width: 100%;
}
.direction {
    text-decoration: none !important;
    color: black !important;
    margin: auto;
    img {
        object-fit: contain;
        width: 100%;
    }
}
.news {
    width: 100%;
    display: flex;
    height: 500px;
    text-align: justify;
    h2 {
        text-align: left;
    }
}

.blog {
    width: 300px;
    height: 100%;
    &:hover {
        background-color: rgba($color: #eaeaea, $alpha: 0.7);
        cursor: pointer;
    }
    &:active {
        background-color: rgba($color: #eaeaea, $alpha: 0.9);
    }
}
.author {
    width: 100%;
    height: 48px;
    img {
        margin: 6px;
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        border-radius: 8px;
        object-fit: contain;
        background-color: #1a1a1a;
    }
}
.title {
    font-size: 52px;
    margin: 20px;
}

.author-detail {
    width: fit-content;
    height: 68px;
    margin: 0 auto;
    img {
        margin: 6px;
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        border-radius: 50%;
        object-fit: contain;
        background-color: #1a1a1a;
    }
}

.name {
    color: #ee5626;
}

.detail {
    background-color: #f9f4ec;
}

.blog-detail {
    width: 558px;
    p {
        text-align: justify;
        color: #201f1f;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        padding: 40px 0;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 10px;
    background-color: #ee5626;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    &:hover {
        background-color: #e87551;
    }
}
//mobile responsive

@media (max-width: 767px) {
    //header
    .container-fluid {
        margin: 0;
    }
    .action {
        width: 100%;
    }
    .navbar-nav {
        gap: 20px;
    }
    .navbar-brand {
        width: 100%;
    }
    // content
    .content-img-2 {
        left: 0;
        width: 0;
    }
    .content-img-1 {
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .content-intro {
        div {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 55px;
            bottom: 0;
            left: 0;
            right: 0;
            span {
                text-align: center;
                position: relative;
                font-size: 1.8rem;
                font-weight: 700;
            }
            .btn-quiz {
                position: absolute;
                left: 0;
                right: 0;
                top: 400px;
                bottom: 0;
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }

    .item-content,
    .content-detail {
        visibility: hidden;
        height: 0;
        padding: 0;
    }

    //sell content
    .content-sell {
        .text-center {
            padding: 15px;
        }
    }

    //rating
    .rating {
        padding-bottom: 0px;
    }
    .card-md {
        margin: 15px;
        margin-left: 25px;
        margin-right: 25px;
        width: 90%;
        padding: 5px 15px;
    }

    .content-mid {
        padding: 100px 20px 0 20px;
    }
    .card-ava {
        bottom: 0px !important;
        margin-bottom: 25px;
    }

    .ava-card-top,
    .ava-card-bottom {
        visibility: hidden;
    }

    .card-hide {
        visibility: hidden;
        height: 0px;
    }

    .row-hide {
        height: 0px;
        padding-top: 0px !important;
    }
    //paticipate
    .paticipate {
        padding-top: 50px;
        height: 100%;
        padding-bottom: 100px;
    }
    .image-join {
        margin: 10px;
    }

    .join-div {
        width: 100%;
        position: absolute;
        height: 200px;
        top: 100px;
        left: 70px;
        right: 70px;
        bottom: 0;
        .button-light {
            position: absolute;
            width: fit-content;
            height: fit-content;
            box-shadow: none;
            top: 110px;
            left: 0;
            right: 0;
        }
        h2 {
            font-size: 1.3rem;
            margin-bottom: 0;
        }
    }

    //quotes
    .quotes {
        padding-bottom: 50px;
    }
    //article
    .article {
        padding-top: 50px;
    }
    .card-article {
        img {
            width: 300px;
            height: 448px;
            object-position: 19% 100%;
            object-fit: cover;
            opacity: 0.7;
        }
    }

    .article-text {
        font-size: 1.2rem;
    }
    //help
    .help {
        padding-top: 0;
    }

    //footer

    .footer {
        border-top: 1px solid #1a1a1a;
        background: #ededf4;
    }
}
